<main class="h-screen w-screen bg-background flex gap-6 p-6 text-foreground">
  <aside class="w-full border max-w-[260px] p-6">
    <h5 class="text-primary underline">Administrator panel</h5>
    <div
      class="max-h-full overflow-y-auto border-l-2 border-gray-500 border-dotted"
    >
      <ul
        *ngIf="persons !== null"
        class="pt-4 text-foreground/70 columns-1 text-sm"
      >
        <li
          class="flex items-center gap-x-2 h-fit cursor-pointer"
          *ngFor="let person of persons.items"
          (click)="setTarget(person)"
        >
          <span
            class="border-b-2 border-dotted border-gray-500 my-4 w-8"
          ></span>

          <svg
            [attr.data-active]="person.id === target?.id"
            class="transition-all fill-foreground data-[active=true]:fill-primary"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 256 256"
          >
            <path
              d="M216,72H131.31L104,44.69A15.86,15.86,0,0,0,92.69,40H40A16,16,0,0,0,24,56V200.62A15.4,15.4,0,0,0,39.38,216H216.89A15.13,15.13,0,0,0,232,200.89V88A16,16,0,0,0,216,72ZM40,56H92.69l16,16H40ZM216,200H40V88H216Z"
            ></path>
          </svg>

          <p>{{ person.first_name }} {{ person.last_name }}</p>
        </li>

        <li
          (click)="fetchNext()"
          class="select-none mt-12 flex items-center gap-x-2"
        >
          <span
            class="border-b-2 border-dotted border-gray-500 my-4 w-1/3"
          ></span>
          <p class="transition-all hover:underline cursor-pointer">
            Next Page: [{{ persons.page + 1 }}/{{
              (persons.total / persons.per_page).toFixed(0)
            }}]
          </p>
        </li>
        <li
          (click)="fetchPrevious()"
          class="select-none flex items-center gap-x-2"
        >
          <span
            class="border-b-2 border-dotted border-gray-500 my-4 w-1/3"
          ></span>
          <p class="transition-all hover:underline cursor-pointer">
            Previous Page: [{{ persons.page - 1 < 1 ? 1 : persons.page - 1 }}]
          </p>
        </li>
      </ul>
    </div>
  </aside>
  <div class="w-full border flex flex-col">
    <div class="relative w-full flex-grow">
      <div
        id="chartdiv"
        className="p-4"
        style="width: 100%; height: 100%"
      ></div>
    </div>
    <div class="relative h-full max-h-[360px]">
      <div class="border-y px-2">
        <h4 class="uppercase text-xl">Crimes Data:</h4>
      </div>

      <div
        *ngIf="target === null"
        class="absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] text-lg text-destructive"
      >
        No Data Chosen
      </div>

      <table class="p-2 w-full text-sm lg:text-base" *ngIf="target !== null">
        <thead
          class="px-1 leading-[110%] uppercase text-primary bg-muted text-center"
        >
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Date</th>
            <th scope="col">Location</th>
            <th scope="col">Description</th>
          </tr>
        </thead>

        <tbody>
          <tr
            *ngFor="let crime of target.crimes"
            [attr.data-active]="crime.investigation_status === 'Open'"
            class="px-1 leading-[110%] hover:bg-muted/50 data-[active=true]:bg-destructive/70 data-[active=true]:hover:bg-destructive transition-colors cursor-pointer"
          >
            <td class="text-center px-2" scope="row">{{ crime.id }}</td>
            <td class="text-center px-2 min-w-[100px]">{{ crime.date }}</td>
            <td>{{ crime.location }}</td>
            <td>{{ crime.description }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <aside
    class="w-full border place-items-center p-6 max-w-sm truncate overflow-hidden"
    [ngStyle]="{ display: target === null ? 'grid' : 'block' }"
  >
    <div *ngIf="target === null" class="text-center">
      <h2 class="text-destructive text-lg">No Data Chosen</h2>
    </div>

    <div *ngIf="target !== null" class="space-y-4">
      <div class="border p-4 flex justify-between items-center">
        <div class="w-1/3 h-1/3 aspect-square overflow-hidden">
          <img
            class="border"
            src="https://st4.depositphotos.com/1717437/20205/v/450/depositphotos_202054218-stock-illustration-incognito-unknown-person-silhouette-man.jpg"
            alt="User Avatar"
          />
        </div>
        <p class="text-center w-full text-2xl">
          {{ target.first_name }} <br />
          {{ target.last_name }}
        </p>
      </div>

      <ul>
        <li class="flex space-x-2 justify-between">
          <span>First Name</span>
          <span>{{ target.first_name }}</span>
        </li>
        <li class="flex space-x-2 justify-between">
          <span>Last Name</span>
          <span>{{ target.last_name }}</span>
        </li>
        <li class="flex space-x-2 justify-between">
          <span>Date of Birth</span>
          <span>{{ target.date_of_birth }}</span>
        </li>
        <li class="flex space-x-2 justify-between">
          <span>Gender</span>
          <span>{{ target.gender }}</span>
        </li>
        <li
          class="flex space-x-2 justify-between"
          [attr.title]="target.address"
        >
          <span>Address</span>
          <span>{{ target.address.slice(0, 20) + "..." }}</span>
        </li>
        <li class="flex space-x-2 justify-between">
          <span>Citizenship</span>
          <span>{{ target.citizenship }}</span>
        </li>
        <li class="flex space-x-2 justify-between">
          <span>Phone Number</span>
          <span>{{ target.phone_number }}</span>
        </li>
        <li class="flex space-x-2 justify-between">
          <span>Email</span>
          <span>{{ target.email }}</span>
        </li>
        <li class="flex space-x-2 justify-between">
          <span>Country of Birth</span>
          <span>{{ target.country_of_birth }}</span>
        </li>
        <li
          *ngIf="target.investigation_status !== null"
          class="flex space-x-2 justify-between"
        >
          <span>Investigation Status</span>
          <span>{{ target.investigation_status }}</span>
        </li>
        <li
          *ngIf="target.danger_level !== null"
          class="flex space-x-2 justify-between"
        >
          <span>Danger Level</span>
          <span>{{ target.danger_level }}</span>
        </li>
      </ul>

      <div class='space-y-2 flex flex-col'>
        <button
          class="w-full py-1 px-4 uppercase bg-secondary border hover:bg-transparent transition-colors font-medium"
        >
          Add Crime
        </button>
        <button
          class="w-full py-1 px-4 uppercase bg-primary/90 hover:bg-primary transition-colors font-medium"
        >
          Delete Person
        </button>
      </div>
    </div>
  </aside>
</main>

<router-outlet />
